page-relatorio-lancamentos {

}

.entrada-chart {
  height: 1em;
  width: 100%;
  background: rgba(0, 128, 0, 0.1);
}

.saida-chart {
  height: 1em;
  width: 100%;
  background: rgba(255, 0, 0, 0.1);
}
